<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ca.polymtl.inf8405.view">

    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="15" />

    <application
            android:debuggable="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme" >
        <activity
                android:name="ca.polymtl.inf8405.view.MainActivity"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="ca.polymtl.inf8405.view.DisplaymessageActivity"
                android:label="@string/title_activity_displaymessage" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ca.polymtl.inf8405.view.MainActivity" />
        </activity>
        <activity
                android:name="ca.polymtl.inf8405.view.GameScreenActivity"
                android:label="@string/title_activity_game_screen" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ca.polymtl.inf8405.view.MainActivity" />
        </activity>
        <activity
                android:name="ca.polymtl.inf8405.view.SelectSizeActivity"
                android:label="@string/title_activity_select_size" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ca.polymtl.inf8405.view.MainActivity" />
        </activity>
        <activity
                android:name="ca.polymtl.inf8405.view.SelectLevelActivity"
                android:label="@string/title_activity_select_level" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ca.polymtl.inf8405.view.SelectSizeActivity" />
        </activity>
    </application>

</manifest>